%header.navbar.navbar-fixed-top.navbar-inverse
  .navbar-inner
    .container
      = link_to "Essensdater", root_path, id: "logo"
      %nav
        %ul.nav.pull-right
          %li
            = link_to "Der", '#'
          %li
            = link_to "Die", '#'
          %li
            = link_to "Das", '#'